* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-container {
  background-image: linear-gradient(to right, #ffebeb, #ffc0bb);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-container {
  background-color: #ffffff;
  border-radius: 8px;
  width: 50%;
  border-color: #ffffff;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 35px;
  text-align: center;
}

.emojis-container {
  display: flex;
  flex-direction: row;
}

.love-img{
  width: 15%;
}